<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <ion-avatar slot="start">
      <img src="../../assets/image/status1.png">
    </ion-avatar>
    <ion-label>
      <h2>PEDIDO<b>Nº 1234455</b></h2>
      <h3>MESA 1</h3>
    </ion-label>
  </ion-item>

  <ion-item >
    <ion-avatar slot="start">
      <img src="../../assets/image/status2.jpg">
    </ion-avatar>
    <ion-label>
      <h2>PEDIDO<b>Nº 1234335</b></h2>
      <h3>MESA 1</h3>
    </ion-label>
  </ion-item>

</ion-content>
