<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title style="text-align: center;">
      <b>Cardapio</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list>

      <ion-item-divider>
        <ion-label style="text-align: center; font-size: 15px;">
         <b>Lanche</b>
        </ion-label>
      </ion-item-divider>

      <ion-item (click)="addProduto()">
        <ion-avatar slot="start">
          <img src="../../assets/image/burger.jpg">
        </ion-avatar>
        <ion-label>
          <h2><b>X Tudo</b></h2>
          <h3>Pão, Milho, Batata, Bife, Bacon</h3>
          <p><b>R$ 15,38</b></p>
        </ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>


      <ion-item-divider>
        <ion-label style="text-align: center; font-size: 15px;">
         <b>Bebidas</b>
        </ion-label>        
      </ion-item-divider>

      <ion-item (click)="addProduto()">
        <ion-avatar slot="start">
          <img src="../../assets/image/coca.png">
        </ion-avatar>
        <ion-label>
          <h2><b>Caca Cola Lata</b></h2>
          <h3>250ml</h3>
          <p><b>R$ 5,00</b></p>
        </ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>

    <div>
      <ion-button shape="round" ng-show="check > 0" routerLink="/carrinho">Confirma Pedido</ion-button>
    </div>
    
    


</ion-content>
