<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center;">Conferir o Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <ion-item-divider>
    <h2 style="text-align: center;"><b>Pedido Nº 1234455</b></h2>
  </ion-item-divider>

  <p style="text-align: center;">
    <b >ITENS PEDIDOS:</b>    
  </p>

  <ion-list>
  <ion-item >
    <ion-avatar slot="start">
      <img src="../../assets/image/burger.jpg">
    </ion-avatar>
    <ion-label>
      <h2><b>X Tudo</b></h2>
      <h3>Pão, Milho, Batata, Bife, Bacon</h3>
      <p><b>R$ 15,38</b></p>
    </ion-label>
    <ion-button fill="clear">Remover</ion-button>
  </ion-item>

  <ion-item (click)="addProduto()">
    <ion-avatar slot="start">
      <img src="../../assets/image/coca.png">
    </ion-avatar>
    <ion-label>
      <h2><b>Caca Cola Lata</b></h2>
      <h3>250ml</h3>
      <p><b>R$ 5,00</b></p>
    </ion-label>
    <ion-button fill="clear">Remover</ion-button>
  </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>

<ion-grid>
  <ion-row>
    <ion-col>
      Valor total: R$20,00
    </ion-col>
    <ion-col>
      <ion-button shape="round" routerLink="/confirmar">Confirmar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-toolbar>

</ion-footer>